<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/scripts/script.js" defer></script>
  <title>Squadpage</title>
</head>

<body>
  <header>
    <a href="/">Members</a>
    <a href="/home" class="other-page">Home</a>
    <!-- <a href="/about" class="other-page">About</a>
    <a href="/about/history" class="other-page">Our history</a>
    <a href="/contact" class="other-page">Contact</a> -->
  </header>