<%- include('./partials/head') %>

  <header>
    <a href="home.ejs" class="current-page">Members</a>
    <a href="#" class="other-page">Home</a>
  </header>

  <section class="intro">
    <h2 class="first-liner">Welcome to the members-page.</h2>
    <h2 class="second-liner">Get to know each one of us.</h2>
    <h3 class="scroll-text">scroll down to see more</h3>
  </section>

  <section class="squad">
    <h1>Squad 1E</h1>
    <button class="filter-bt">Filter</button>
  </section>

  <section class="students">
    <article class="student">
      <img src="/images/profile-img.jpeg" alt="" class="img">
      <!-- <p class="img-text">20</p> -->
      <p>Drizzy Drayy</p>
    </article>

    <article class="student">
      <img src="/images/profile-img.jpeg" alt="" class="img">
      <p>Jason Wong</p>
    </article>

    <article class="student">
      <img src="/images/profile-img.jpeg" alt="" class="img">
      <p>Jason Wong</p>
    </article>

    <article class="student">
      <img src="/images/profile-img.jpeg" alt="" class="img">
      <p>Jason Wong</p>
    </article>

  </section>


  <div class="cursor"></div>
  <div class="cursor2"></div>

  <%- include('./partials/foot') %>