<%- include('./partials/head') %>

<header>
  <a href="#" class="current-page">Home</a>
  <a href="memberspage.ejs" class="other-page">Members</a>
</header>

<section class="intro">
  <h2>Welcome to the members -page.</h2>
  <h2>Get to know each one of us better.</h2>
  <h3 class="scroll-text">scroll down to see more</h3>
</section>

<section class="members">
  <h1>Squad 1E</h1>
  <button class="filter-bt">Filter</button>
    <article class="student">
      <img src="images/" alt="">
        <span>20</span>
      </img> 
      <p>Jason Wong</p>
    </article>
</section>

<div class="cursor"></div>
<div class="cursor2"></div>

<%- include('./partials/foot') %>