/* Goodluck, probeer zo min mogelijk html elementen vaste waardes te geven!! */

* {
    margin: 0;
    padding: 0;
    cursor: none;
}

:root {
    --main-bg-color: #0F0F0F;
    --primary-text-color: #F5F5F5;
    --secondary-text-color: #555555;
    --accent-color: #05905E;

    --primary-spacing: 1em;
    --secondary-spacing: 2em;

    --cursor-2-bg: #151a1f;

    --cursor-2-bg-line: #1f272e;

}

body {
    background-color: var(--main-bg-color);
    font-family: arial;
    font-style: italic;
    color: var(--primary-text-color);
    margin: 1.5em;

    cursor: pointer;
}

.cursor {
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    border: 1px solid var(--primary-text-color);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .05s;
}

.cursor2 {
    position: fixed;
    width: 0.5em;
    height: 0.5em;
    border: 1px solid var(--primary-text-color);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* .content:hover 〜 .cursor {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: var(--primary-text-color);
    opacity: .5;
}

.content:hover 〜 .cursor2 {
    opacity: 0;
} */

/* Mobile styling */

/* Header Styling */

header {
    display: flex;
    justify-content: space-between;
    margin: 3%;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 2em;
}

.current-page {
    color: var(--accent-color);

    &:hover {
        transition: 0.5s ease-in-out;
        color: var(--primary-text-color);

    }
}

.other-page {
    color: var(--secondary-text-color);
    transition: ease-in-out 2s;

    &:hover {
        background: linear-gradient(45deg,
                #274fbd,
                #01d8fd,
                #14dfea,
                #3fc12a,
                #f9ac07,
                #5406d9,
                #e912a3,
                #7a3bca,
                #f9ac07,
                #7a3bca);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 5s ease infinite;
    }
}

/* intro styling */

.intro {
    margin: 5%;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    gap: 5.5em;
}

h2 {
    font-size: 2em;
    font-style: italic;
}


.first-liner {
    text-align: left;
    margin-right: 25%;
}

.second-liner {
    text-align: right;
    margin-left: 20%;
}

.scroll-text {
    color: var(--secondary-text-color);
    font-size: 1.87em;
    text-align: center;
    margin: 15% 22%;
    animation: jump 1.5s infinite;
}

h1 {
    font-size: 3.1em;
}

/* Members styling */

.squad {
    margin: 5%;
    margin-top: 20%;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.filter-bt {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    padding: 0.5em 1em;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 20px;
    outline: solid 1px;
    margin-top: var(--primary-spacing);

    &:hover {
        color: var(--primary-text-color);
        outline: solid 2px
    }
}

.students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25em;
    margin-top: 10%;
}

.student {
    /* width: 20%; */
}

img {
    border-radius: 1.5em;
    width: 160px;
    height: 190px;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.20em;
    margin-top: 0.25em;
}


@media (min-width: 31.25em) {

    .intro {
        margin-top: 20%;
    }

    .second-liner {
        margin-left: 30%;
    }

    .scroll-text {
        margin: 10% 27.5%;
    }

}

@media (min-width : 35.81em) {

    h2 {
        font-size: 2.5em;
    }

    .intro {
        margin-top: 15%;
    }

    .second-liner {
        margin-left: 35%;
    }
}

@media (min-width : 47.18em) {

    .intro {
        margin-top: 12.5%;
        gap: 5em;
    }

    .first-liner {
        margin-right: 40%;
    }

    .second-liner {
        margin-left: 50%;
    }

    .scroll-text {
        margin: 7.5% 35%;
    }
}

@media (min-width: 50em) {
    h2 {
        font-size: 2.75em;
    }

    .intro {
        margin-top: 12.5%;
    }

    .scroll-text {
        margin: 5% 35%;
    }
}

@media (min-width: 57em) {

    h2 {
        font-size: 3em;
    }

    .intro {
        margin-top: 10%;
        gap: 4.5em
    }

    .scroll-text {
        margin: 5% 37%;
    }

    .squad {
        margin-top: 10%;
    }

}

@media (min-width: 63.43em) {

    .intro {
        margin-top: 5%;
    }

    h2 {
        font-size: 3.8em;
    }

    .first-liner {
        margin-right: 40%;
    }

    .second-liner {
        margin-left: 45%;
    }

    .scroll-text {
        margin: 2.5% 40%;
    }

    /* Squad styling */

    h1 {
        font-size: 4.5em;
    }

    .students {
        margin-top: 0%;
        gap: 3em;
    }

    .student {
        width: 20%;
    }

    img {
        width: fit-content;
        height: fit-content;
    }



}

@media (min-width: 81em) {
    h2 {
        font-size: 5em;
    }

    .scroll-text {
        margin: 2.5% 42%;
    }

    h1 {
        font-size: 6em;
    }

    .students {
        gap: 4.5em;
        margin-left: 2.5%;
    }

    .img {
        width: 110%;
    }
}




/* #region Keyframe animations */

/* Second link gradient animation */

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* Scroll down text jumping animation */

@keyframes jump {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-10px);
        color: var(--accent-color);
    }
}


/* #endregion */